name: "[Reusable] Build and push the web book"

on:
  workflow_call:
    inputs:
      deploy-pages:
        type: boolean
        required: true
      release:
        type: boolean
        required: true
        description: Whether the book should be built in preparation for a release.

jobs:
  build-hexdoc:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: read
    outputs:
      pages-url: ${{ steps.build.outputs.pages-url }}
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v6
        with:
          python-version-file: .python-version

      - uses: astral-sh/setup-uv@v6
        with:
          activate-environment: true
          enable-cache: true

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - uses: gradle/actions/setup-gradle@v4
        with:
          gradle-home-cache-includes: |
            caches
            notifications
            loom-cache

      - uses: ts-graphviz/setup-graphviz@v2

      - name: Sync dependencies
        run: uv sync --frozen --no-dev

      - name: Build API docs
        run: ./gradlew :dokkaGenerate

      - id: build
        uses: hexdoc-dev/actions/build@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          release: ${{ inputs.release }}

  deploy-pages:
    needs: build-hexdoc
    if: inputs.deploy-pages
    runs-on: ubuntu-latest
    concurrency:
      group: hexdoc-deploy-pages
      cancel-in-progress: false
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v6
        with:
          python-version-file: .python-version

      - uses: astral-sh/setup-uv@v6
        with:
          activate-environment: true
          enable-cache: true

      - name: Sync dependencies
        run: uv sync --frozen --no-dev

      - name: Merge new hexdoc build into existing book
        uses: hexdoc-dev/actions/merge@v1
        with:
          release: ${{ inputs.release }}
          site-url: ${{ needs.build-hexdoc.outputs.pages-url }}

      - name: Deploy to Pages
        uses: hexdoc-dev/actions/deploy-pages@v1
        with:
          merge: false
          release: ${{ inputs.release }}
